*{
    margin: 0px;
    padding: 0px;
} 
ul{
    list-style: none;
    margin-top: 15px;
    font-family: "arial";
    margin-left: 300px;
}
li{
    
    display: inline;
   padding: 10px;
   margin-left: 10px;
}
.navbar{
    display: flex;
    
    
}
h2{
    margin-left: 50px;
    margin-top: 10px;
}
button{
 margin-left: 200px;
 padding-left:30px;
 padding-right: 30px;
 padding-top: 10px;
 padding-bottom: 10px;
 background-color: #604CC3 ;
border: none;
border-radius: 10px;
color: white;
 font-size: 18px;
 margin-top: 10px;

}

button.a{
    
    background-color: transparent;
    margin-left: 35px;
    color: #5f4bc1; 
    border: 1px solid #5f4bc1;
    border-radius: 10px;
}
.header{
    margin-top: 160px;
    margin-left: 40px;
}
.header p{
    font-size: 20px;
    font-family: "arial";
}
.header h1{
    font-family:sans-serif;
    margin-top: 20px;
}
.header p.a{
    font-size: 18px;
    margin-top: 20px;
}
.header button{
    margin-left: 10px;
    margin-top: 30px;
    background-color:#FF9C3F;
}
.image img{
    height: 480px;
    margin-left: 850px;
    margin-top: -370px;
}